* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

a, li {
	text-decoration: none;
	list-style: none;
}

.nav_link {
	color: black;
	font-size: 18px;
	transition: all 0.3s linear;
	padding: 5px 15px;
}

.nav_link:hover {
	color: white;
	background-color: black;
	border-radius: 4px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 100px;
}

.nav li {
	display: inline-block;
	padding: 0px 20px;
}